#loader {
    width: 100px;
}

.hide {
    display:none;
}


#web3Status {
    background-color: orange;
    padding:2em;
}

#transactionStatus {
    display:none;
    background-color: yellowgreen;
    padding:2em;
}


.tutorial {
  p {
    font-style: oblique;
  }
}

.star-row {
  margin-bottom: 1rem;
}

p.vehicle_name {
  font-weight: bold;
  margin-bottom: .5rem;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: white;
  color: #f1f1f1;
  z-index: 5;
  height: 40px;
  border-bottom: solid 1px grey;
}

.header-rideGUI {
  padding: 10px 16px;
  background: white;
  color: #f1f1f1;
  z-index: 5;
  height: 98px;
  border-bottom: solid 1px grey;
}

*.funds {
  color: black;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #white;
  border: solid 1px grey;
  font-weight: bold;
  font-size: 16px;
}

/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
